a {
	color: #990033;	
}

body {
	background: #ffebcc;
	color: black;
	font: 1.2em sans-serif;
	max-width: 60rem;
	margin: auto;
	padding: 0.5em;
}

footer {
	text-align: center;
	margin-bottom: 0px;
}

h1 {
	text-align: center;
}

header {
	display: block;	
}

.heading {
	text-align: center;
}

.links {
	text-align: center;
	width: 100%;
}

.links a {
	padding: 0.3em;
}

.links img {
	width: 2.5em;
	height: 2.5em;
}

.site-heading h1 {
	margin-left: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.main-logo {
	width: 200px;	
}

nav {
	display: block;
}

.site-main-menu {
	text-align: center;
}

.site-main-menu li {
  	list-style-type: none;
	margin-right: 1.5rem;
}
